<div>
  <form [formGroup]="form">
    <div class="col-12 col-lg-12 row">
      <div class="col-lg-4">
        <isw-form-item labelText="Súbor">
          <input type="file" class="shadow-file-input shadow-in mt-0" (change)="onFileChange($event)" style="padding-top: 6px; padding-right: 10px; width: 100%">
        </isw-form-item>
      </div>
      <div class="col-lg-4 col-4">
        <isw-form-item labelText="Popis">
          <isw-text-field class="col-lg-12 col-12" formControlName="description"></isw-text-field>
        </isw-form-item>
      </div>
      <div class="col-lg-4">
        <button class="btn shadow-out" (click)="addDocument()">Pridať</button>
      </div>
    </div>
  </form>

  <div class="row col-12 col-lg-12">
    <div class="shadow-out col-lg-3 row" *ngFor="let item of documents">
      <div class="col-6 col-lg-7">
        <label>{{item.name}}</label>
       <div>{{item.comment}}</div>
<!--       <div>{{format(item.date)}}</div>-->
      </div>
      <div class="col-6 col-lg-5 mt-2 p-0">
        <button class="btn shadow-out mt-0 mr-0 ml-0" (click)="getProjectDocument(item.documentId)"><i class="fa fa-download"></i></button>
        <button class="btn shadow-out mt-0 mr-0" (click)="editFile(item)"><i class="fa fa-pen"></i></button>
        <button class="btn shadow-out mt-0 mr-0" (click)="removeFile(item.id)"><i class="fa fa-trash"></i></button>
      </div>
    </div>
  </div>
</div>
