<div class=" login-background">
  <div class="container pt-5 mt-5">
    <form [formGroup]="form">
      <div class="row justify-content-end align-items-center">

        <div class="col-12 row justify-content-center align-items-end" style="background-image: url(../../assets/img/login-page.png); background-repeat: no-repeat; height: 80vh; background-position: center; background-size: contain">
              <div class="col-lg-3 col-6 col-sm-5 pt-5 mb-5">
                <label class="white">Prihlasovacie meno:</label>
                <isw-text-field formControlName="username" [shadow]="false" [darkmode]="false"></isw-text-field>
                <label class="white">Heslo:</label>
                <isw-text-field formControlName="password" type="password" [shadow]="false" [darkmode]="false"></isw-text-field>

                <div class="error-box" *ngIf="errorMessage">{{errorMessage}}</div>
                <div class="text-center">
                  <button class="btn btn-outline-light" (click)="onSubmit()">Prihlásiť</button>
                </div>
              </div>
            </div>
          </div>
    </form>
  </div>
</div>
