<div class="p-lg-4 p-1">
  <h3 class="h3">Vytvorenie úlohy</h3>

  <form [formGroup]="form">

    <div class="col-12 col-lg-12 col-md-12 row">
      <div class="col-12 col-lg-12 col-md-12">
        <isw-form-item labelText="Názov:" [control]="form.controls['name']">
          <isw-text-field class="col-6 m-0 p-0" formControlName="name"></isw-text-field>
        </isw-form-item>
      </div>

      <div class="col-12 col-lg-4 col-md-12">
        <isw-form-item labelText="Používateľ:" [control]="form.controls['user']">
          <isw-select [data]="projectUsers" formControlName="user"></isw-select>
        </isw-form-item>
      </div>

      <div class="col-12 col-lg-2 col-md-12">
        <isw-form-item labelText="Priorita:" [control]="form.controls['priority']">
          <isw-select [data]="priorityOptions" placeholder="-" noSelectionText="-" formControlName="priority"
                      [required]="false"></isw-select>
        </isw-form-item>
      </div>

      <div class="col-12 col-lg-6 col-md-12">
        <isw-form-item labelText="Stav:" [control]="form.controls['status']">
          <isw-select [data]="statusOptions" formControlName="status"></isw-select>
        </isw-form-item>
      </div>

      <div class="col-12 col-lg-3 col-md-12">
        <isw-form-item labelText="Počet hodín:" [control]="form.controls['hours']">
          <isw-text-field formControlName="hours"></isw-text-field>
        </isw-form-item>
      </div>

      <div class="col-12 col-lg-3 col-md-12">
        <isw-form-item labelText="Progres:" [control]="form.controls['progress']">
          <isw-select [data]="progressOptions" formControlName="progress"></isw-select>
        </isw-form-item>
      </div>

      <div class="col-12 col-lg-6 col-md-12">
        <isw-form-item labelText="Od - Do:" [control]="form.controls['to']">
          <isw-datepicker class="col-6 m-0 pl-0" formControlName="from"></isw-datepicker>
          <isw-datepicker class="col-6 m-0 pr-0" formControlName="to"></isw-datepicker>
        </isw-form-item>
      </div>

      <div class="col-12">
        <isw-form-item labelText="Popis:" [control]="form.controls['description']">
          <textarea class="shadow-in m-0 border-0 col-12" [rows]="10" formControlName="description"></textarea>
        </isw-form-item>
      </div>

      <div class="col-12 d-flex justify-content-end">
        <button class="btn shadow-out text-green" (click)="submit()">Uložiť</button>
        <button class="btn shadow-out text-red m-l--10`" (click)="back()">Spať</button>
      </div>
    </div>
  </form>
</div>
