<div class="p-lg-4 p-1">
  <h3 class="h3">Prehľad spoločnosti:</h3>

  <div class="col-12 p-0 row">
    <div class="col-lg-6 col-12" *ngIf="company">
      <div class="col-12 dashboard-box">

        <h4><i class="fa fa-info"></i> Info:</h4>
        <div>
          <table class="table">
            <tr>
              <td>Názov:</td>
              <td>{{company.companyName}}</td>
            </tr>
            <tr>
              <td>ICO:</td>
              <td>{{company.ico}}</td>
            </tr>
            <tr>
              <td>DIC:</td>
              <td>{{company.dic}}</td>
            </tr>
            <tr>
              <td>Adresa:</td>
              <td>{{company.street}} {{company.streetNumber}}, {{company.psc}} {{company.city}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-12" *ngIf="employers">
      <div class="col-12 dashboard-box">
        <button class="btn shadow-out text-green col-1 col-lg-1 ml-0 pl-0 mt-0 mr-0 mb-0 pr-0 float-right" (click)="addEmployer()"><i class="fa fa-plus"></i></button>
        <h4><i class="fa fa-user"></i> Zamestnanci:</h4>

        <div>
         <isw-admin-users-table class="overflow-scroll" [data]="employers" [loading]="false" [type]="'COMPANY'"></isw-admin-users-table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12" *ngIf="projects && projects.length > 0">
      <div class="col-12 dashboard-box">
        <h4><i class="fa fa-project-diagram"></i> Projekty:</h4>
          <div>
            <isw-company-projects-table [loading]="false" [data]="projects"></isw-company-projects-table>
          </div>
      </div>
    </div>
  </div>
</div>
