
<button tabindex="0" class="isw-select" type="button"
        [matMenuTriggerFor]="selectMenu"
        (click)="disableSelectClick()"
        [class.isw-select--disabled]="disabledInput"
        [disabled]="disabledInput">{{getChoosedlabel()}}
  <button class="isw-select_button"></button>
</button>
<mat-menu #selectMenu class="select-menu">
  <div *ngIf="searching">
    <input type="text"
           class="select-search-input"
           (click)="$event.stopPropagation();"
           [(ngModel)]="text"
           (ngModelChange)="filterSelectData(text)"
           placeholder="Vyhľadať">
  </div>
  <div class="select-item"
       [ngClass]="customItemClass"
       [class.select-divider]="option['divider']"
       (click)="onItemClick(option, $event)"
       *ngFor="let option of data">
      <span><i class="select__icon fa"
               [class.fa-times]="option[keyField] === '_NONE_'"
               [class.fa-check]="isSelectedOption(option[keyField])"></i>{{option[labelField]}}</span>
  </div>
</mat-menu>
