<div class="resizing-mobile-modal">
  <div class="modal-header">
    <h3>{{value ? 'Upraviť' : 'Pridať'}} spoločnosť</h3>
  </div>

  <div class="modal-body col-12">
    <isw-refresh-data [show]="newValue" (onCancel)="cancel()" (onRestore)="restore()"></isw-refresh-data>

    <form [formGroup]="form">
      <div class="col-12">
        <label>Spoločnosť:</label>
        <isw-text-field formControlName="companyName"></isw-text-field>
      </div>

      <div class="col-12">
        <label>IČO:</label>
        <isw-text-field formControlName="ico"></isw-text-field>
      </div>

      <div class="col-12">
        <label>DIČ:</label>
        <isw-text-field formControlName="dic"></isw-text-field>
      </div>

      <div class="col-12">
        <label>Ulica:</label>
        <isw-text-field formControlName="street"></isw-text-field>
      </div>

      <div class="col-12">
        <label>Číslo:</label>
        <isw-text-field formControlName="streetNumber"></isw-text-field>
      </div>

      <div class="col-12">
        <label>Mesto/Obec:</label>
        <isw-text-field formControlName="city"></isw-text-field>
      </div>
      <div class="col-12">
        <label>PSČ:</label>
        <isw-text-field formControlName="psc"></isw-text-field>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn shadow-out" type="button" (click)="close()">Zatvor</button>
    <button class="btn shadow-out" type="button" (click)="submit()">Potvrď</button>
  </div>
</div>
