<form [formGroup]="formGroup">
  <div class="date-picker-custom-header">
    <button (click)="previousClicked()" class="date-picker-button" mat-icon-button>
      <span class="date-picker-button-arrow date-picker-button-arrow-left"></span>
    </button>
    <isw-select [data]="months" [selectionRequired]="true" style="width: 80px; margin-right: 2px" formControlName="monthSelect"></isw-select>
    <isw-select [data]="years" [selectionRequired]="true" style="width: 80px; margin-left: 2px" formControlName="yearSelect"></isw-select>
    <button (click)="nextClicked()" class="date-picker-button" mat-icon-button>
      <span class="date-picker-button-arrow date-picker-button-arrow-right"></span>
    </button>
  </div>
</form>
