<input class="isw-datepicker__input"
       [class.isw-datepicker__input--disabled]="disabled"
       [min]="minDate"
       [max]="maxDate"
       [value]="value"
       [matDatepicker]="picker"
       [matDatepickerFilter]="dateFilter"
       placeholder="{{ placeholder }}"
       [disabled]="disabled"
       (blur)="onTouch($event)"
       (dateChange)="onDateChange($event)"
>
<mat-datepicker #picker [calendarHeaderComponent]="datepickerHeader" [dateClass]="dateClass"></mat-datepicker>

<button [class.isw-datepicker__button--disabled]="disabled"
        class="btn shadow-out" style="margin: 0px !important;" type="button" (click)="openPicker()"><i class="fa fa-calendar"></i>
</button>
