<input class="isw-datepicker__input"
       [class.isw-datepicker__input--disabled]="disabled"
       [(ngModel)]="value"
       placeholder="{{placeholder}}"
>

<button [class.isw-datepicker__button--disabled]="disabled"
        class="isw-datepicker__button" type="button" (click)="toggleTimePicker()"><i class="fa fa-clock-o"></i>
</button>
<div class="timepicker-dropdown p-2" [class.timepicker-dropdown--showed]="timeDropdownShowed">
  <div class="timepicker-dropdown-hours" (wheel)="wheelHours($event)">
    <button (click)="addHour()" class="date-picker-button" mat-icon-button>
      <span class="date-picker-button-arrow date-picker-button-arrow-up"></span>
    </button>
    <span class="time-span-hours">{{hours}}</span>
    <button (click)="subtractHour()" class="date-picker-button" mat-icon-button>
      <span class="date-picker-button-arrow date-picker-button-arrow-down"></span>
    </button>
  </div>
  <div class="time-separator">:</div>
  <div class="timepicker-dropdown-minutes" (wheel)="wheelMinutes($event)">
    <button (click)="addMinute()" class="date-picker-button" mat-icon-button>
      <span class="date-picker-button-arrow date-picker-button-arrow-up"></span>
    </button>
    <span class="time-span-minutes">{{minutes}}</span>
    <button (click)="subtractMinute()" class="date-picker-button" mat-icon-button>
      <span class="date-picker-button-arrow date-picker-button-arrow-down"></span>
    </button>
  </div>
</div>
