<div class="resizing-mobile-modal">
  <div class="modal-header">
    <h3>Užívatelia v spoločnosti</h3>
    <button class="btn shadow-out float-right" type="button" (click)="edit()" *ngIf="!isEdit">Uprav</button>
    <button class="btn shadow-out float-right" type="button" (click)="submit()" *ngIf="isEdit">Ok</button>
  </div>

  <div class="modal-body col-12" *ngIf="!isEdit">
    <div *ngFor="let item of companyUsers" class="row">
      <div class="col-8">{{item.firstName}} {{item.lastName}}</div>
    </div>

    <br>

    <ng-container *ngIf="isEdit">
      <div class="row">
        <div class="col-lg-5 col-12 shadow-out p-4" *ngIf="edit">
          <h5>Priradení</h5>
          <div class="col-lg-12 col-12 shadow-in">
            <div class="col-12 p-1 m-1 row border-bottom" *ngFor="let item of result">
              <div class="col-10 mt-2">
                <label>
                  {{item.firstName}} {{item.lastName}}
                </label>
              </div>
              <div class="col-2 m-0 p-0">
                <button class="btn dashboard-box text-red" (click)="remove(item)" *ngIf="isEdit"><i class="fa fa-times"></i></button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-5 col-12 shadow-out p-4" *ngIf="edit">
          <h5>Nepriradení</h5>
          <div class="col-lg-12 col-12 shadow-in">
            <div class="col-12 p-1 m-1 row border-bottom" (click)="add(item)" *ngFor="let item of notSelectedUsers">
              <div class="col-10 mt-2">
                <label>
                  {{item.firstName}} {{item.lastName}}
                </label>
              </div>
              <div class="col-2 p-0 m-0">
                <button class="btn dashboard-box text-green" *ngIf="isEdit"><i class="fa fa-check"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

  </div>


  <div class="modal-footer">
    <button class="btn shadow-out" type="button" (click)="close()">Zatvor</button>
  </div>
</div>
