<div class="resizing-mobile-modal">
  <div class="modal-header">
    <h3>{{value ? 'Upraviť' : 'Pridať'}} používateľa</h3>
  </div>

  <div class="modal-body col-12">
    <isw-refresh-data [show]="newValue" (onCancel)="cancel()" (onRestore)="restore()"></isw-refresh-data>

    <form [formGroup]="form">
      <isw-form-item labelText="Meno" [control]="form.controls['firstName']">
        <isw-text-field formControlName="firstName"></isw-text-field>
      </isw-form-item>

      <isw-form-item labelText="Priezvisko"  [control]="form.controls['lastName']">
        <isw-text-field formControlName="lastName"></isw-text-field>
      </isw-form-item>

      <isw-form-item labelText="Login" *ngIf="!value"  [control]="form.controls['login']">
        <isw-text-field formControlName="login"></isw-text-field>
        <label class="small text-danger" *ngIf="loginError">{{loginError}}</label>
      </isw-form-item>

      <isw-form-item labelText="Email"  [control]="form.controls['email']">
        <isw-text-field formControlName="email"></isw-text-field>
        <label class="small text-danger" *ngIf="emailError">{{emailError}}</label>
      </isw-form-item>

      <ng-container *ngIf="!value">
        <isw-form-item labelText="Spoločnosť" [control]="form.controls['company']">
          <isw-select formControlName="company" [data]="companies"></isw-select>
        </isw-form-item>

        <isw-form-item labelText="Rola" [control]="form.controls['role']">
          <isw-select formControlName="role" [data]="roles"></isw-select>
        </isw-form-item>
      </ng-container>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn shadow-out" type="button" (click)="close()">Zatvor</button>
    <button class="btn shadow-out" type="button" (click)="submit()">Potvrď</button>
  </div>
</div>
