<isw-header *ngIf="showPanels" (toggleMenu)="toggle($event)"></isw-header>

<isw-menu *ngIf="showPanels" [class.show-menu]="showMenu" (onclick)="clickOnMenu($event)"></isw-menu>
<div class="pl-lg-5 shadow-out main-frame" style="margin-top: 60px; height: calc(100vh - 85px); margin-left: 60px">
  <router-outlet></router-outlet>
</div>
