<div class="p-lg-2 p-1 row ">
  <div class="col-12 col-lg-3">
    <h3 class="h3"><i class="fa fa-umbrella-beach"></i>Dovolenky</h3>
  </div>
  <div class="col-12 col-lg-9" *ngIf="companyAdminMode">
    <div class="isw-panel-tabs p-b-10 mt-4">
      <ul class="isw-tabs">
        <li>
          <a routerLinkActive="active" routerLink="my-holidays"><i class="fa fa-bars"></i> Moje dovolenky</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="approving"><i class="fa fa-tasks"></i> Schvaľovanie dovoleniek</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--<div class="shadow-out col-2 row font-weight-bold" style="font-size: 28px">
  <div class="shadow-in col-3">
    {{hour}}
  </div>
  :
  <div class="shadow-in col-3">
    {{minute}}
  </div>
  <div class="shadow-in col-3">
    {{second}}
  </div>
</div>-->
<router-outlet></router-outlet>
