<nav class="nav col-12 d-flex justify-content-between fixed-top">
  <button class="menu-btn btn shadow-out m-1" (click)="toggleMenuOpen()"><i class="fa fa-bars"></i></button>
  <div class="pl-lg-3 pt-3 pb-0 pr-0">
    <h5 class="text-dark"><span class="name-lg">ISW PM - </span>{{companyName}}</h5>
  </div>
  <div class="pr-2 pt-3 pb-3">
    <div (click)="openMessageContainer()" class="menu-button">
      <a><i class="fa fa-bell text-dark"></i></a>
      <div class="message-container" [class.message-container-open]="containerOpen">
        <div *ngFor="let item of messages" class="message-item">
          <div>
            <label class="font-weight-bold text-dark">{{item.header}}</label>
            <button class="btn mr-1 float-right" (click)="removeMessage(item.messageId)"><i class="fa fa-trash"></i>
            </button>
          </div>
          <label class="small p-2 text-dark">{{item.text}}</label>
        </div>
      </div>
    </div>
    <div (click)="openUserContainer()" class="menu-button">
      <a><i class="fa fa-user text-dark"></i></a>
      <div class="user-container" [class.user-container-open]="userOpen">
        <div class="user-container-item">
          <label *ngIf="userName">{{userName}}</label>
        </div>
        <div (click)="logout()" class="user-container-item cursor--pointer" [class.user-container-open]="userOpen">
          <label><i class="fa fa-power-off"></i> Odhlásiť</label>
        </div>
      </div>
    </div>
    <div [ngClass]="getConnectionClass" class="ml-3 d-inline-block"><a class="pointer"><i class="fa fa-plug"></i></a>
    </div>
    <div class="pl-3 d-inline-block">
      <app-switch (isToggled)="changeTheme($event)"></app-switch>
    </div>
  </div>
</nav>
