<button [class.btn]="!isIconButton"
        [class.shadow-out]="type === 'primary'"
        [class.disable]="disabled"
        [class.disabled]="disabled"
        [class.btn-active]="isActive"
        [ngClass]="customClass"
        [type]="buttonType"
        (click)="onButtonClick($event)">
  <i *ngIf="isIconButton"
     class="fa"
     [ngClass]="getIconType()"></i>
  <ng-content></ng-content>
</button>
