<div class="resizing-mobile-modal">
  <div class="modal-header">
    <h3>Pridať zamestnanca</h3>
  </div>

  <div class="modal-body col-12">
    <form [formGroup]="form">
      <isw-form-item labelText="Používateľ">
        <label *ngIf="user">{{user.firstName}} {{user.lastName}}</label>
        <isw-select *ngIf="!user" formControlName="user" [data]="users"></isw-select>
      </isw-form-item>
      <isw-form-item labelText="Rola">
        <isw-select formControlName="role" [data]="roles"></isw-select>
      </isw-form-item>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn shadow-out" type="button" (click)="close()">Zatvor</button>
    <button class="btn shadow-out" type="button" (click)="submit()">Potvrď</button>
  </div>
</div>
