<div [class.has-error]="cc.invalid && cc.touched && decorations && !loading"
     [class.has-success]="cc.valid && cc.touched && decorations && !loading"
     [class.has-spinner]="loading">
  <ng-content></ng-content>
</div>
