<div class="switch-container">
  <div class="slider" [class.toggled]="toggled"></div>
  <div class="switch" [class.toggled]="toggled" (click)="toggle()">
    <div class="switch-cut" [class.toggled]="toggled"></div>
  </div>
</div>
