.switch-container {
  width: 50px;
}

.switch {
  cursor: pointer;
  width: 19px;
  height: 19px;
  background-color: yellow;
  position: relative;
  transform: translate(2px, 2px);
  transition: all 0.1s linear;
  border-radius: 100%;

  &.toggled {
    transform: translate(22px, 2px);
    background-color: ghostwhite;
  }
}

//.switch-cut {
//  width: 20px;
//  height: 20px;
//  position: relative;
//  border-radius: 100%;
//  transform: translate(-2px, 1px);
//  background-color: yellow;
//  opacity: 0;
//  transition: all 0.1s linear;
//
//  &.toggled {
//    opacity: 1;
//    background-color: var(--night-color);
//  }
//}

.slider {
  position: absolute;
  width: 50px;
  height: 30px;
  background-color: var(--day-color);
  transition: all 0.1s linear;
  border-radius: 20px;

  position: absolute;
  width: 46px;
  height: 23px;
  background-color: var(--day-color);
  transition: all 0.1s linear;
  border-radius: 20px;

  &.toggled {
    background-color: var(--night-color);
  }
}

