<div class="form-item form-group {{widthClass}}" *ngIf="!control">
  <label class="{{labelWidthClass}} text-dark text-left font-weight-bold" [class.form-item--required]="required">{{labelText}}</label>
  <div class="{{valueWidthClass}} m-0 p-0">
    <ng-container [ngTemplateOutlet]="contentTpl"></ng-container>
  </div>
</div>

<div class="form-item form-group {{widthClass}}" *ngIf="control" isw-validation-group [cc]="control" [loading]="loading">
  <label class="{{labelWidthClass}} text-dark text-left font-weight-bold" [class.form-item--required]="required">{{labelText}}</label>
  <div class="{{valueWidthClass}} m-0 p-0">
    <ng-container [ngTemplateOutlet]="contentTpl"></ng-container>
    <span class="col-12" isw-validation-message [cc]="control"></span>
  </div>
</div>

<ng-template #contentTpl><ng-content></ng-content></ng-template>
