<table class="table-sortable">
  <thead>
  <tr>
    <th *ngIf="checkable"></th>
    <th *ngFor="let col of getHeader()" [ngClass]="col.style" [class.table-none-style]="withoutStyle">
      <span
        *ngIf="col.sortable"
        class="c-pointer"
        [class.sorting-asc]="sortParams ? sortParams.fieldName === col.fieldName && !sortParams.ascending : false"
        [class.sorting-desc]="sortParams ? sortParams.fieldName === col.fieldName && sortParams.ascending : false"
        (click)="onSort(col)"
      >
        {{ col.label }}
      </span>
      <ng-container *ngIf="!col.sortable">{{ col.label }}</ng-container>
    </th>
  </tr>
  </thead>
  <tbody *ngIf="!loading">
  <ng-container *ngFor="let tableRow of tableData">
    <tr [ngClass]="this._selectedRow === tableRow.dataObject ? 'selected' : ''" (click)="onRowClick(tableRow.dataObject, tableRow.componentShowed)">
      <td *ngIf="checkable" class="isw-table__checkbox_column">
        <input [attr.id]="tableRow['checkId']" type="checkbox" (change)="onCheckboxChange($event, tableRow)">
        <label [attr.for]="tableRow['checkId']" class="checkbox"></label>
      </td>
      <td *ngFor="let cell of tableRow.rowData" [ngClass]="cell.style" [class.table-none-style]="withoutStyle">
        <isw-table-cell [data]="tableRow.dataObject" [cell]="cell"
                        (onClick)="cellClick($event, tableRow.componentShowed)"></isw-table-cell>
      </td>
    </tr>
    <ng-container *ngFor="let component of components; let i = index">
      <tr class="custom-row" *ngIf="tableRow.componentShowed[i]">
        <td [colSpan]="getColumnsCount()">
          <ng-container [ngComponentOutlet]="component"
                        [ndcDynamicInputs]="{ rowData: tableRow.dataObject, componentsShowed: tableRow.componentShowed }"></ng-container>
        </td>
      </tr>
    </ng-container>
  </ng-container>

  </tbody>
  <tbody *ngIf="loading">
  <tr>
    <td class="isw-table__spinner" colspan="100%">
      <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </td>
  </tr>
  </tbody>
  <tbody *ngIf="!loading && !error && (!data || data.length === 0)">
  <tr>
    <td class="text-center" colspan="100%">
      <span>{{noDataText}}</span>
    </td>
  </tr>
  </tbody>
  <tbody *ngIf="!loading && error">
  <tr>
    <td class="text-center" colspan="100%">
      <span>{{ error }}</span>
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf="pagination && pageCount > 1" class="p-t-15 float-right">
  <ul class="pagination">
    <li class="page-item c-pointer" (click)="getPageData(-1,'PREV')">
      <a class="page-link c-pointer">«</a>
    </li>
    <li class="page-item c-pointer" *ngFor="let item of pages" (click)="getPageData(item)">
      <a class="page-link c-pointer" [class.active]="item === currentPage">{{item}}</a>
    </li>
    <li class="page-item c-pointer" (click)="getPageData(-1,'NEXT')">
      <a class="page-link c-pointer">»</a>
    </li>
  </ul>
</div>
<div *ngIf="showMore && _data.length > 10" class="p-t-15 float-right">
  <a class="btn btn-link" (click)="showMoreData()">
    <i class="fa fa-arrows-v color-blue"></i> {{ tableData.length === 10 ? 'Zobraz' : 'Skry'  }} ďalšie položky
  </a>
</div>
