<ng-container *ngIf="!cell.renderer">
  <div class="d-inline-block" *ngIf="cell.label" [innerHtml]="textToHtml(cell.label)"></div>
  <button class="d-inline-block" *ngIf="cell.icon" type="button" (click)="onActionClick(cell.action)">
    <i [ngClass]="['fa', 'fa-' + cell.icon]"></i>
  </button>
  <ng-container *ngIf="cell.icons">
    <button class="btn shadow-out m-2 {{iconItem.style}}" *ngFor="let iconItem of cell.icons" type="button"
            (click)="onActionClick(iconItem.action)">
      <i [ngClass]="['fa', 'fa-' + iconItem.icon]"></i>
    </button>
  </ng-container>
  <ng-container *ngIf="cell.dropdown">
    <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-cog"></i></button>
    <mat-menu #menu="matMenu">
      <button *ngFor="let item of cell.dropdown" mat-menu-item (click)="onActionClick(item.action)"><i
        [ngClass]="['fa', 'fa-' + item.icon]"></i> {{item.text}}</button>
    </mat-menu>
  </ng-container>
</ng-container>
<ng-template #rendererContainer></ng-template>

