<div class="menu m-0 shadow-in">
  <div class="wrapper-scrollable">
    <ul>
      <ng-container *ngFor="let item of menuItems">
        <li [routerLink]="item.navLink" class="menu-item m-3 shadow-out" routerLinkActive="selected" *ngIf="item.visible" (click)="onclick.emit()">
          <a class="text-dark">{{item.label}}</a>
          <span class="icon-thumbnail float-right mr-2 text-dark">
            <i class="fa" [ngClass]="'fa-' + item.icon"></i>
          </span>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
