<div class="row m-0 p-0">

  <div class="col-lg-6 col-12 pl-0" *ngIf="project">
    <div class="col-12 dashboard-box row">

      <h4 class="col-11 col-lg-11 mr-0 pr-0"><i class="fa fa-info"></i> Info:</h4>
      <button class="btn shadow-out text-green col-1 col-lg-1 ml-0 pl-0 mt-0 mr-0 mb-0 pr-0 float-right" (click)="editDetail()"><i class="fa fa-pen"></i></button>
      <div>
        <table class="table">
          <tr>
            <td>Názov:</td>
            <td>{{project.name}}</td>
          </tr>
          <tr>
            <td>Popis:</td>
            <td>{{project.comment}}</td>
          </tr>
          <tr>
            <td>Budget:</td>
            <td>{{project.budget}}</td>
          </tr>
          <tr>
            <td>Začiatok:</td>
            <td>{{project.dateFrom | formatDateTime: true}}</td>
          </tr>
          <tr>
            <td>Koniec:</td>
            <td>{{project.dateTo | formatDateTime: true}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-12" *ngIf="project">
    <div class="col-12 dashboard-box">

      <h4><i class="fa fa-info"></i> Úlohy:</h4>
      <div>
        <table class="table">
          <tr>
            <td>Vyriešené úlohy:</td>
            <td>{{detail?.closeTask}}</td>
          </tr>
          <tr>
            <td>Nevyriešené úlohy:</td>
            <td>{{detail?.notcloseTask}}</td>
          </tr>
          <tr>
            <td>Všetky:</td>
            <td>{{detail?.allTask}}</td>
          </tr>
          <tr>
            <td>Po termíne:</td>
            <td>{{detail?.afterDate}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
