<div class="p-lg-2 p-1 row ">
  <div class="col-12 col-lg-3">
    <h3 class="h3">{{project?.name}}</h3>
  </div>
  <div class="col-12 col-lg-9">
    <div class="isw-panel-tabs p-b-10 mt-4">
      <ul class="isw-tabs">
        <li>
          <a routerLinkActive="active" routerLink="overview"><i class="fa fa-bars"></i> Detail</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="tasks"><i class="fa fa-tasks"></i> Úlohy</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="documents"><i class="fa fa-file"></i> Dokumenty</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="wiki"><i class="fa fa-info"></i> Wiki</a>
        </li>
        <li class="float-right">
          <a class="text-green" (click)="createTask()"><i class="fa fa-plus"></i> Pridať</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
