.modal-header--confirm {
  background: #FFD100;
  border-bottom: 1px solid #D0B850;
}

.modal-header--success {
  background: #92D24E;
  border-bottom: 1px solid #D0B850;
}

.modal-header--info {
  background: #92D24E;
  border-bottom: 1px solid #D0B850;
}

.modal-body {
  //-ms-word-break: break-all;
  //-ms-word-wrap: break-all;
  //-webkit-word-break: break-word;
  //-webkit-word-wrap: break-word;
  //word-break: break-word;
  //word-wrap: break-word;
  //-webkit-hyphens: auto;
  //-moz-hyphens: auto;
  //hyphens: auto;
}
