<div class="modal-header">
  <h4 class="modal-title"><i class="fa fa-exclamation-triangle color-blue"></i>{{ header }}</h4>
</div>

<div class="modal-body">
  <p [innerHTML]="content"></p>
</div>

<div class="modal-footer">
  <ng-container *ngIf="type === 'info'">
    <button type="button" class="btn dashboard-box" (click)="activeModal.close(true)">Zatvoriť</button>
  </ng-container>

  <ng-container *ngIf="type === 'confirm'">
    <button type="button" class="btn dashboard-box" (click)="activeModal.close(false)">Zrušiť</button>
    <button type="button" class="btn dashboard-box" (click)="activeModal.close(true)">Potvrdiť</button>
  </ng-container>

  <ng-container *ngIf="type === 'cancel'">
    <button type="button" class="btn dashboard-box" (click)="activeModal.close(false)">Zrušiť</button>
  </ng-container>
</div>
