@import "variables";

:root {
  --night-color: #1e0057;
  --day-color: #d8f8ff;

  --background-color: #e4eaf8;
  //--background-color: #efefef;
  --neumorphism-light-color: #ffffff;
  --neumorphism-dark-color: #858585;
  //--neumorphism-dark-color: #e4eaf8;
  --primary-color: #9500ff;
  --secondary-color: #c6d7e1;
  --surface-color: #827d7f;
  --menu-color: #6300ff;
  --surface-secondary-color: #e8e8e8;
  --text-color: #2d2d2d;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  color: var(--text-color);
}

.table {
  color: var(--text-color);
}

.logo-isw {
  height: 100px;
  width: 240px;
  background-repeat: no-repeat;
  background-image: url("../assets/img/logo.png");
}

label {
  margin: 5px 10px 0 0;
  min-height: 36px;
  text-align: end;
  vertical-align: bottom;
}

.white {
  color: white;
}

.isw-color--primary {
  color: $isw-color-blue
}

.isw-color--secondary {
  color: $isw-color-orange
}

.isw-logo-container {
  border-radius: 39px;
  overflow: hidden;
  height: calc(100vh - 219px);
}

.content-box {
  padding: 30px 20px;
  height: 470px;
  // background-color: #0f6fb3;
  //box-shadow: white 10px 6px 35px -2px, #131212 0px 0px 55px 3px inset;
}

.content-box > a {
  border-radius: 39px;
  width: 147%;
  height: 151%;
  position: absolute;
  left: -92%;
  top: 299px;
  transform-origin: left top;
  transform: rotate(-55deg);
  background-color: #0f6fb3;
  box-shadow: white 10px 6px 35px -2px, #131212 0px 0px 67px 5px inset;
}

.content-box-header {
  padding: 30px 20px;
  height: 200px;
  border-radius: 39px;

}

.content-box-header > a {
  border-radius: 39px;
  width: 100%;
  height: 243%;
  position: absolute;
  left: -16%;
  top: 57px;
  transform-origin: left top;
  transform: rotate(-56deg);
  background-color: #ee7f01;
  box-shadow: white 10px 6px 35px -2px, #131212 0px 0px 67px 5px inset;
}

.error-box {
  color: $isw-color-orange;
  margin-bottom: 10px;
  text-align: center;
}

.connection-icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;

  &--close {
    color: grey;
  }

  &--trying {
    color: yellow;
  }

  &--connect {
    color: #9cff0d;
  }

  &--disconnecting {
    color: red;
  }
}

.menu {
  background: #4D4D4D;
  height: 100%;
  left: -230px;
  overflow: hidden;
  position: fixed;
  top: 60px;
  width: 270px;
  z-index: 1000;
}

.menu {
  left: -213px;
  transition: transform .25s;

  & li {
    & a {
      padding-right: 45px;
    }
  }

  & ul {
    padding: 0px;
    margin: 0px;
  }

}

.menu:hover {
  transform: translate(230px, 0px);
}

.menu .wrapper-scrollable {
  right: 0px;
  overflow: auto !important;
}

.selected {
  background: #3e3e3e;
}

.table-sortable {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;

  thead > tr {
    border-bottom: 1px solid #6d7983;
    padding: 10px;

    & > td {
      padding: 4px;
    }
  }

  tbody > tr:nth-child(2n) {
    background-color: var(--secondary-color);
  }

  tbody > tr > td {
    padding: 4px;
  }
}

.modal-md {

}

.table-container {
  overflow: auto;
  padding: 10px;
  margin: 20px;
  background: var(--background-color);
  border-radius: 15px;
  box-shadow: -8px -7px 16px 3.25px var(--neumorphism-light-color), 9px 10px 24px -2.75px var(--neumorphism-dark-color);

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .modal-md {
    width: 100vw !important;
    max-width: 100vw !important;
    height: 100vh !important;
  }
  .message-container {
    width: 100vw !important;
    left: 0% !important;
  }


  .name-lg {
    display: none !important;
  }

  .menu-btn {
    display: block !important;
  }
  .menu {
    left: -280px;
   &:hover {
     transform: none !important;
   }
  }

  .show-menu .menu {
    transform: translate(280px, 0px);
  }

  .main-frame {
    margin-left: 5px !important;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .modal-md {
    width: 100vw !important;
    max-width: 100vw !important;
    height: 100vh !important;
  }
  .message-container {
    width: 100vw !important;
    left: 0% !important;

  }

  .name-lg {
    display: none !important;
  }

  .menu-btn {
    display: block !important;
  }

  .menu {
    left: -280px;
    &:hover {
      transform: none !important;
    }
  }

  .show-menu .menu {
    transform: translate(280px, 0px);
  }

  .main-frame {
    margin-left: 5px !important;
  }
}

body {
  background: var(--background-color);
}

mat-button:focus {
  outline: 0 !important;
}

.cdk-mouse-focused {
  outline: 0 !important;
}

.dashboard-box {
  margin: 10px;
  background: var(--background-color);
  border-radius: 15px;
  box-shadow: -8px -7px 16px 3.25px var(--neumorphism-light-color), 9px 10px 24px -2.75px var(--neumorphism-dark-color);
  padding: 10px;
  overflow: auto;
}

.user-container {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: -17px 1px 13px -1.75px var(--neumorphism-light-color), 4px 10px 24px -2.75px var(--neumorphism-dark-color);
  background-color: transparent;
  text-align: center;
  position: absolute;
  left: calc(100% - 200px);
  width: 200px;
  z-index: 99999;
  top: calc(0% + 56px);
  max-height: calc(100vh - 56px);
  visibility: hidden;

  &-open {
    visibility: visible;
  }

  & label {
    color: black;
  }
}

.user-container-item {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #efe4e9;
  color: black;
  border-bottom: 2px solid var(--background-color);

  &:nth-child(1) {
    border-top-left-radius: 15px;
  }

  &:nth-last-child(1) {
    border-bottom-left-radius: 15px;
    border-bottom: none;
  }
}

.message-container {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: -17px 1px 13px -1.75px var(--neumorphism-light-color), 4px 10px 24px -2.75px var(--neumorphism-dark-color);
  position: absolute;
  background-color: transparent;
  left: calc(100% - 307px);
  width: 307px;
  z-index: 99999;
  top: calc(0% + 56px);
  max-height: calc(100vh - 56px);
  visibility: hidden;

  &-open {
    visibility: visible;
  }
}

.message-item {
  background-color: #d2ccef;
  color: black;
  padding: 9px;
  border-bottom: 2px solid var(--background-color);

  &:nth-child(1) {
    border-top-left-radius: 15px;
  }

  &:nth-last-child(1) {
    border-bottom-left-radius: 15px;
    border-bottom: none;
  }
}

.menu-item {
  padding: 10px 3px 20px 5px;
  list-style: none;
  color: white;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  & a {
    color: white;
    text-decoration: none;
  }
}

.header {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.67), black);
}

.menu-button {
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  display: inline-block;
  cursor: pointer;
}

.mat-dialog-container {
  background: var(--background-color);
  color: var(--text-color);
}

.text-red {
  color: red;
}

.text-blue {
  color: blue;
}

.text-yellow {
  color: yellow;
}

.text-green {
  color: green;
}

.text-purple {
  color: purple;
}

.cdk-overlay-pane {
  background: white;
  border-radius: 7px;
}

.cursor--pointer {
  cursor: pointer;
}

.btn-outline-dark {
  color: var(--text-color);
  border-color: var(--text-color-color);
}

.btn-outline-dark:hover {
  color: var(--background-color);
  background-color: var(--text-color);
  border-color: var(--text-color);
}

.btn:hover {
  color: var(--text-color);
  text-decoration: none;
}


.shadow-out {
  margin: 20px;
  background: var(--background-color);
  border-radius: 15px;
  box-shadow: -8px -7px 16px 3.25px var(--neumorphism-light-color), 9px 10px 24px -2.75px var(--neumorphism-dark-color);
  padding: 10px;
  overflow: auto;
}

.shadow-in {
  margin: 10px;
  background: var(--background-color);
  border-radius: 15px;
  //box-shadow: inset -14px 10px 17px -4.75px var(--neumorphism-light-color), inset 7px 12px 16px 1.25px var(--neumorphism-dark-color);;
  //box-shadow: inset 9px 10px 24px -2.75px var(--neumorphism-light-color);
  box-shadow: inset -16px -8px 27px 0.25px var(--neumorphism-light-color), inset 9px 7px 9px -3.75px var(--neumorphism-dark-color);
  //padding: 10px;
  overflow: auto;
}

h1, h2, h3, h4,

,
h5, h6, i, label, a, .btn {
  text-shadow: -1px -1px 4.6px var(--neumorphism-light-color), 1px 1px 3.3px black !important;
}

textarea.shadow-in {
  font-size: 13px;
  padding: 15px;

  &:focus {
    outline: 0;
  }
}

.task-status-container {
  height: 100%;
  border-right: 0.5px solid grey;
}

.task-container {
  height: 100%;
}

.task-progress-bar {
  &.mat-progress-bar {
    height: 14px;
    margin-top: 7px;
  }

  .mat-progress-bar-fill::after {
    background-color: #37474f;
  }

  .mat-progress-bar-buffer {
    background-color: #90a4ae;
  }

  /* remove animation and the dots*/
  .mat-progress-bar-background {
    animation: none;
    background-color: #eceff1;
    fill: #eceff1;
  }
}

.has-error input {
  //box-shadow: inset -16px -8px 27px 0.25px var(--neumorphism-light-color), inset 9px 7px 9px -3.75px red !important;
  border: 1px solid red;
}

.has-error select {
  box-shadow: inset -16px -8px 27px 0.25px var(--neumorphism-light-color), inset 9px 7px 9px -3.75px red !important;
  border: 1px solid red;
}

.has-error textarea {
  //box-shadow: inset -16px -8px 27px 0.25px var(--neumorphism-light-color), inset 9px 7px 9px -3.75px red !important;
  border: 1px solid red !important;
}


.form-item {
  display: inline-block;
}

.form-item--required:after {
  color: #ff0000;
  content: "*";
  display: inline-block;
  text-align: left;
  width: 10px;
  padding-left: 2px;
}

.form-item label {
  color: #999999;
}


.form-group__label_value {
  margin-top: 3px;
  display: inline-block;
  float: left !important;
}

.isw-panel-tabs .isw-tabs li {
  display: inline-block;
  list-style: outside none none;
}

.isw-panel-tabs .isw-tabs li a {
  margin: 10px;
  color: black !important;
  background: var(--background-color);
  border-radius: 15px;
  box-shadow: -8px -7px 16px 3.25px var(--neumorphism-light-color), 9px 10px 24px -2.75px var(--neumorphism-dark-color);
  padding: 10px;
  overflow: auto;

  &.active {
    box-shadow: inset -16px -8px 27px 0.25px var(--neumorphism-light-color), inset 9px 7px 9px -3.75px var(--neumorphism-dark-color);
  }

  &:focus {
    outline: none;
  }
}

.shadow-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.shadow-file-input::before {
  content: 'Vybrať';
  display: inline-block;
  color: black !important;
  background: var(--background-color);
  border-radius: 15px;
  padding: 5px;
  margin: 0px;
  position: relative;
  top: 3px;
  left: 15px;
  text-shadow: -1px -1px 4.6px var(--neumorphism-light-color), 1px 1px 3.3px black !important;
  font-size: 12px;
  margin-top: 0px;
  box-shadow: -6px -3px 16px 3.25px var(--neumorphism-light-color), 9px 10px 24px -2.75px var(--neumorphism-dark-color);
  overflow: auto;
}
.shadow-file-input:hover::before {
  border-color: black;
}
.shadow-file-input:active::before {
  box-shadow: inset -16px -8px 27px 0.25px var(--neumorphism-light-color), inset 9px 7px 9px -3.75px var(--neumorphism-dark-color);
}

.shadow-file-input:focus {
  outline: none;
}
button.btn {
  box-shadow: -8px -7px 16px 3.25px var(--neumorphism-light-color), 9px 10px 24px -2.75px var(--neumorphism-dark-color);
}

.btn-active
{
  box-shadow: inset -16px -8px 27px 0.25px var(--neumorphism-light-color), inset 9px 7px 9px -3.75px var(--neumorphism-dark-color) !important;
}

button.btn:active {
  box-shadow: inset -16px -8px 27px 0.25px var(--neumorphism-light-color), inset 9px 7px 9px -3.75px var(--neumorphism-dark-color);
}

button.shadow-out:focus {
  box-shadow: -8px -7px 16px 3.25px var(--neumorphism-light-color), 9px 10px 24px -2.75px var(--neumorphism-dark-color);
}

button.shadow-out:active {
  box-shadow: inset -16px -8px 27px 0.25px var(--neumorphism-light-color), inset 9px 7px 9px -3.75px var(--neumorphism-dark-color);
}

.no-shadow {
  box-shadow: none;
  text-shadow: none !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.name-icon {
  border: 1px solid #cab7b7;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 36px;
  background-color: grey;
}

.name-lg {
  display: block;
}

.menu-btn {
  display: none;
}
