.login-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @for $i from 1 through 8 {
    &--bg-#{$i} {
      background-image: url("../assets/img/login-bg/bg-#{$i}.jpg");
    }
  }

  &--bg-9 {
    background-position: 35%;
    background-image: url("../assets/img/login-bg/banner-12.png");
  }
}
