<div class="resizing-mobile-modal">
  <div class="modal-header">
    <h3>{{value ? 'Upraviť' : 'Pridať'}} projekt</h3>
  </div>

  <div class="modal-body col-12">
    <isw-refresh-data [show]="newValue" (onCancel)="cancel()" (onRestore)="restore()"></isw-refresh-data>

    <form [formGroup]="form">
      <div class="col-12">
        <isw-form-item labelText="Názov:">
          <isw-text-field formControlName="name"></isw-text-field>
        </isw-form-item>
      </div>

      <div class="col-12">
        <isw-form-item labelText="Popis:">
          <isw-text-field formControlName="description"></isw-text-field>
        </isw-form-item>

      </div>

      <div class="col-12">
        <isw-form-item labelText="Rozpočet:">
          <isw-text-field formControlName="budget"></isw-text-field>
        </isw-form-item>
      </div>

      <div class="col-12">
        <isw-form-item labelText="Začiatok:">
          <isw-datepicker formControlName="dateFrom"></isw-datepicker>
        </isw-form-item>
      </div>

      <div class="col-12">
        <isw-form-item labelText="Koniec:">
          <isw-datepicker formControlName="dateTo"></isw-datepicker>
        </isw-form-item>
      </div>

      <!--<div class="col-12">
        <label>Začiatok:</label>
        <mat-label></mat-label>
        <input class="isw-text-field isw-text-field&#45;&#45;dark" style="width: 84%"
               matInput formControlName="dateFrom" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>-->

      <!--<div class="col-12">
        <label>Koniec:</label>
        <mat-label></mat-label>
        <input class="isw-text-field isw-text-field&#45;&#45;dark" style="width: 84%"
               matInput formControlName="dateTo" [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </div>-->
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn dashboard-box text-red" type="button" (click)="close()">Zatvor</button>
    <button class="btn dashboard-box text-green" type="button" (click)="submit()">Potvrď</button>
  </div>
</div>
