<div class="p-lg-4 p-1">
  <h3 class="h3">Projekty:</h3>
  <div class="">
    <button class="btn dashboard-box text-green" (click)="addProject()"><i class="fa fa-plus"></i> Pridať</button>
  </div>

  <div class="col-12 p-0 row">
    <div class="col-12 col-lg-4" *ngFor="let item of projects">
      <div class="col-12 dashboard-box row">

        <div class="col-3 pl-0 mr-0">
          <button class="btn dashboard-box text-green" (click)="openProject(item)"><i class="fa fa-search "></i> <span class="name-lg">Otvoriť</span></button>
          <button class="btn dashboard-box text-red" (click)="deleteProject(item)"><i class="fa fa-train "></i> <span class="name-lg">Zmazať</span></button>
          <button class="btn dashboard-box text-purple" (click)="editProject(item)"><i class="fa fa-pen"></i> <span class="name-lg">Upraviť</span></button>
          <button class="btn dashboard-box text-purple" (click)="projectUsers(item)"><i class="fa fa-user"></i> <span class="name-lg">Používatelia</span></button>
        </div>
        <div class="col-9">
          <div class="col-12">
            <h4><i class="fa fa-project-diagram"></i> {{item.name}}</h4>
          </div>
          <div class="col-12">
            <label>{{item.description}}</label>
          </div>
          <div class="col-12">
            <label>{{translate(item.projectStatusId)}}</label>
          </div>
          <div class="col-12">
            <label>{{item.budget}} €</label>
          </div>
          <div class="col-12">
            <label>{{format(item.created)}}</label>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
