.mat-calendar-body-cell-content {
  border-radius: 5px !important;
  width: 32px !important;
  height: 32px !important;
}

.mat-calendar-body-selected {
  background-color: #007bff !important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border-color: transparent;
}

.mat-calendar-body-cell {
  width: 32px !important;
  height: 32px !important;
}

.date-picker-custom-header {
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.date-picker-custom-header-label {
  flex: 1;
  height: 1em;
  font-weight: 500;
  text-align: center;
}

.date-picker-custom-header-double-arrow .mat-icon {
  margin: -22%;
}

.date-picker-button-arrow {
  border-style: solid;
  border-width: 0.2em 0.2em 0 0;
  content: '';
  display: inline-block;
  width: 0.75em;
  height: 0.75em;

  &-left {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  &-right {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  &-up {
    width: 1em;
    height: 1em;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  &-down {
    width: 1em;
    height: 1em;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
}

.isw-datepicker__calendar {
}

.mat-calendar-body-cell {
  height: 32px;
  width: 32px;
}

.mat-calendar-body-label {
  //display: none;
}

td.mat-calendar-body-label {
  visibility: hidden;
}

[aria-hidden=true] .mat-calendar-body-label {
  display: none;
}

.mat-calendar-table-header {
  color: #5bc0de;
  font-family: Arial;
  font-style: italic !important;
  font-size: 80%;
}

.mat-datepicker-content .mat-calendar {
  width: 260px !important;
  height: 275px !important;
}

.mat-datepicker-popup {
  right: 0px !important;
  width: 260px;
}

.isw-datepicker__input {
  padding: 5px 10px;
  border: none;
  display: inline-block;
  width: calc(100% - 40px) !important;
  outline: none;
  background: var(--background-color);
  border-radius: 15px;
  box-shadow: inset -16px -8px 27px 0.25px var(--neumorphism-light-color), inset 9px 7px 9px -3.75px var(--neumorphism-dark-color);
}

form .isw-datepicker__button {
  background-color: #F7F7F7 !important;
}

.has-error isw-datepicker input, .has-success isw-datepicker input {
  border: 0px !important;
  background-image: none;
  padding-right: 10px !important;
}

.has-error isw-datepicker {
  border: 1px solid #ff0000 !important;
  border-right: none;
}

.isw-datepicker__button {
  background-color: transparent;
  border: transparent;
  margin: 0px 0px 0px 0px !important;
  width: 30px;
  height: 27px;
  display: inline-block;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.isw-datepicker__button--disabled {
  opacity: 0;
  user-input: none;
  cursor: default;
}

.isw-datepicker__button:focus {
  outline: none;
}

.container-filter isw-datepicker {
  width: 180px !important;
}

.container-filter .isw-datepicker__input {
  background-color: white !important;
  padding: 5px 5px 5px 5px !important;
}

.container-filter .isw-datepicker__button {
  background-color: white !important;
  display: inline-block !important;
  height: 27px !important;
}


.date-picker-button {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-color: #fff;
  background-image: none;
  color: #0275d8;
  border: none !important;
  white-space: nowrap;
  padding: 3px 12px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.4;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none !important;
  height: 29px !important;
}


.date-picker-button:hover {
  color: #333333;
  background-color: #f7f7f9;
  box-shadow: inset 0px 0px 10px 3px #ffffff;
  -webkit-box-shadow: inset 0px 0px 5px 3px #ffffff;
}

.date-picker-button:active,
.date-picker-button.active {
  color: #0275d8;
  /*box-shadow: none !important;*/
}

isw-datepicker {
  position: relative;
  display: inline-block;
  width: 100%;
  border: 1px;
  border-radius: 3px;
}


.timepicker-dropdown {
  display: none;
  position: absolute;
  width: 96px;
  height: 100px;
  border-radius: 5px !important;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  background-color: #fff;
  color: rgba(0, 0, 0, .87);
  z-index: 1;

  &--showed {
    display: block;
  }

  &-hours {
    display: inline-block;
    width: 35px;
  }

  &-minutes {
    display: inline-block;
    width: 37px;
  }
}

.time-span {
  font-size: 16px;

  &-hours {
    margin-right: 11px;
    margin-left: 9px;
  }

  &-minutes {
    margin-right: 13px;
    margin-left: 10px;
  }
}

.time-separator {
  display: inline-block;
  transform: translateY(-89%);
  font-size: 16px;
}

//.dropdown-content a {
//  float: none;
//  color: black;
//  padding: 12px 16px;
//  text-decoration: none;
//  display: block;
//  text-align: left;
//}
//
//.dropdown-content a:hover {
//  background-color: #ddd;
//}
//
