.isw-text-field {
  border: none;
  border-bottom: 2px solid var(--background-color);
  margin-bottom: 15px;
  padding: 5px 10px;
  color: white;
  min-width: 150px;
  background: inherit;
  width: 100%;
  outline: none;

  &--dark {
    border-bottom: 1.0px solid var(--text-color);
    color: var(--text-color);
  }
}

.isw-text-field--shadow {
  border: none;
  //border-bottom: 2px solid var(--background-color);
  //margin-bottom: 15px;
  padding: 5px 10px;
  min-width: 150px;
  background: inherit;
  height: 40px;
  width: 100%;
  outline: none;
  background: var(--background-color);
  border-radius: 15px;
  box-shadow: inset -16px -8px 27px 0.25px var(--neumorphism-light-color), inset 9px 7px 9px -3.75px var(--neumorphism-dark-color);
  overflow: auto;
}

isw-text-field .ng-touched .ng-invalid input.isw-text-field--shadow {
    box-shadow: inset -16px -8px 27px 0.25px var(--neumorphism-light-color), inset 9px 7px 9px -3.75px red !important;
}



