<div class="col-lg-12 col-12 d-flex justify-content-center" *ngIf="noCompanyMessage">
  <div class="shadow-out col-lg-3 col-12 row">
    <h5 class="text-danger col-lg-12 col-12 no-shadow">Používateľ nemá priradenú žiadnu spoločnosť.</h5>
    <label class="text-left no-shadow col-lg-12 col-12">Stlačením tlačidla kontaktovať odošle administrátorovi
      upozornenie.</label>
    <div class="d-flex justify-content-between col-lg-12 col-12">
      <isw-button (onClick)="contact()">Kontaktovať</isw-button>
      <isw-button (onClick)="logout()"><i class="fa fa-power-off"></i> Odhlásiť</isw-button>
    </div>
  </div>
</div>

<div class="col-lg-12 col-12 d-flex justify-content-center" *ngIf="noPrivilege">
  <div class="shadow-out col-lg-3 col-12 row">
    <h5 class="text-danger col-lg-12 col-12 no-shadow">Používateľ nemá priradenie oprávnenia na prácu v spoločnosti {{companyName}} .</h5>
    <label class="text-left no-shadow col-lg-12 col-12">Stlačením tlačidla kontaktovať odošle administrátorovi
      upozornenie.</label>
    <div class="d-flex justify-content-between col-lg-12 col-12">
      <isw-button (onClick)="contact()">Kontaktovať</isw-button>
      <isw-button (onClick)="logout()"><i class="fa fa-power-off"></i> Odhlásiť</isw-button>
    </div>
  </div>
</div>

