<div class="pt-2">
  <div class="col-12 d-flex justify-content-end">
    <button class="btn dashboard-box text-green" type="button" (click)="addCompany()"><i class="fa fa-plus"></i> Pridať</button>
  </div>
  <div class="table-container">
    <isw-admin-companies-table [loading]="false" [data]="companies"></isw-admin-companies-table>
  </div>
</div>
