<div class="col-12 d-flex justify-content-end">
  <button class="btn dashboard-box text-green" type="button" (click)="createUser()"><i class="fa fa-plus"></i> Pridať</button>
</div>
<div class="table-container">
  <isw-admin-users-table [data]="users" [error]="null" [loading]="false"></isw-admin-users-table>
</div>
