<div class="{{containerClass}}">
  <div *ngIf="loading" class="expandable-component__spinner">
    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>

  <div *ngIf="errorMessage"><label class="text-center color-red">{{errorMessage}}</label></div>

  <div *ngIf="!loading && !errorMessage" [style.width]="getWidth()">
    <ng-content></ng-content>
  </div>
</div>
