<div *ngIf="show">
  <label class="col-12 small text-danger text-center">Upravovaná položka sa v priebehu zmenila.</label>
  <div class="d-flex justify-content-center">
    <button  type="button" class="btn dashboard-box text-red btn-sm mr-2" (click)="onRestoreClick()">Obnoviť</button>
    <button  type="button" class="btn dashboard-box text-green btn-sm" (click)="onCancelClick()">Ponechať</button>
  </div>
</div>
