<div class="row col-lg-12 col-12">

  <div class="col-12 col-lg-4">
    <div class="shadow-out">
      <h5>Filter</h5>
      <form [formGroup]="filterForm">
        <isw-form-item labelText="Zamestnanec:">
          <isw-select formControlName="user" [data]="companyUsers"></isw-select>
        </isw-form-item>
        <isw-form-item labelText="Typ:">
          <isw-select formControlName="type" [data]="holidayTypes"></isw-select>
        </isw-form-item>
        <isw-form-item labelText="Stav:">
          <isw-select formControlName="stateId" [data]="states"></isw-select>
        </isw-form-item>
        <isw-button (onClick)="filterData()"><i class="fa fa-search" ></i>Filtruj</isw-button>
      </form>
    </div>

    <div class="shadow-out">
      <h5>Nový záznam záznam</h5>
      <form [formGroup]="holidayForm">
        <isw-form-item labelText="Typ:">
          <isw-select formControlName="type"[data]="holidayTypes"></isw-select>
        </isw-form-item>
        <isw-form-item labelText="Od:">
          <div class="col-12 row p-0 m-0">
            <div class="col-8">
              <isw-datepicker formControlName="fromDate"></isw-datepicker>
            </div>
            <div class="col-4">
              <isw-time-picker formControlName="fromTime"></isw-time-picker>
            </div>
          </div>
        </isw-form-item>
        <isw-form-item labelText="Do:">
          <div class="col-12 row p-0 m-0">
            <div class="col-8">
              <isw-datepicker formControlName="toDate"></isw-datepicker>
            </div>
            <div class="col-4">
              <isw-time-picker formControlName="toTime"></isw-time-picker>
            </div>
          </div>
        </isw-form-item>
        <isw-form-item labelText="Popis:">
          <isw-text-field formControlName="comment"></isw-text-field>
        </isw-form-item>
        <isw-button (onClick)="crateHoliday()"><i class="fa fa-plus"></i>Pridať</isw-button>
      </form>
    </div>
  </div>

  <div class="col-12 col-lg-8">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <button class="btn shadow-out text-red"
                  mwlCalendarPreviousView
                  [view]="view"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()">Späť
          </button>
          <button class="btn shadow-out"
                  mwlCalendarToday
                  [(viewDate)]="viewDate">Dnes
          </button>
          <button class="btn shadow-out text-green"
                  mwlCalendarNextView
                  [view]="view"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()">Ďalej
          </button>
        </div>
      </div>

      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'sk' }}</h3>
      </div>

      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn shadow-out"
            (click)="setView(CalendarView.Month)"
            [class.btn-active]="view === CalendarView.Month"
          >
            Month
          </div>
          <div
            class="btn shadow-out"
            (click)="setView(CalendarView.Week)"
            [class.btn-active]="view === CalendarView.Week"
          >
            Week
          </div>
          <div
            class="btn shadow-out"
            (click)="setView(CalendarView.Day)"
            [class.btn-active]="view === CalendarView.Day"
          >
            Day
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        locale="sk"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        locale="sk"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        locale="sk"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
      >
      </mwl-calendar-day-view>
    </div>

    <ng-template #modalContent let-close="close">
      <div class="modal-header">
        <h5 class="modal-title">Event action occurred</h5>
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          Action:
          <pre>{{ modalData?.action }}</pre>
        </div>
        <div>
          Event:
          <pre>{{ modalData?.event | json }}</pre>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
          OK
        </button>
      </div>
    </ng-template>
  </div>

</div>
