<div class="p-lg-4 p-1">
  <h3 class="h3">Roly a oprávnenia:</h3>
  <div class="">
    <button class="btn dashboard-box text-green" (click)="addRole()"><i class="fa fa-plus"></i> Pridať rolu</button>
  </div>

  <form [formGroup]="form">
    <div class="col-12 col-lg-12 row">
      <div class="col-lg-4 col-12">
        <isw-form-item labelText="Rola:">
          <isw-select formControlName="role" [data]="rolesOptions"></isw-select>
        </isw-form-item>
      </div>
      <div class="col-lg-8 col-12">
        <isw-form-item>
          <button class="btn dashboard-box text-green" *ngIf="edit" (click)="updateRoles()"><i class="fa fa-check"></i>
            Potvrď
          </button>
          <button class="btn dashboard-box text-red" (click)="editRolePrivilges()">
            <ng-container *ngIf="!edit"><i class="fa fa-pen"></i> Upraviť</ng-container>
            <ng-container *ngIf="edit"><i class="fa fa-times"></i> Späť</ng-container>
          </button>
        </isw-form-item>
      </div>
    </div>

    <div class="shadow-out" *ngIf="rolePrivileges.length > 0 && !edit">
      <isw-admin-privileges-table [data]="rolePrivileges" [loading]="loading"></isw-admin-privileges-table>
    </div>

    <div class="row">
      <div class="col-lg-5 col-12 shadow-out p-4" *ngIf="edit">
        <h5>Priradené</h5>
        <div class="col-lg-12 col-12 shadow-in">
          <div class="col-12 p-1 m-1 row border-bottom" *ngFor="let item of privilegeForEdit">
            <div class="col-10 mt-2">
              <label>
                {{item.name}}
              </label>
            </div>
            <div class="col-2 m-0 p-0">
              <button class="btn dashboard-box text-red" (click)="remove(item)" *ngIf="edit"><i class="fa fa-times"></i></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-12 shadow-out p-4" *ngIf="edit">
        <h5>Nepriradené</h5>
        <div class="col-lg-12 col-12 shadow-in">
          <div class="col-12 p-1 m-1 row border-bottom" (click)="add(item)" *ngFor="let item of notSelectedPrivileges">
            <div class="col-10 mt-2">
              <label>
                {{item.name}}
              </label>
            </div>
            <div class="col-2 p-0 m-0">
              <button class="btn dashboard-box text-green" *ngIf="edit"><i class="fa fa-check"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
