<div class="resizing-mobile-modal">
  <div class="modal-header">
    <h3>{{value ? 'Upraviť' : 'Pridať'}} rolu</h3>
  </div>

  <div class="modal-body col-12">
    <isw-refresh-data [show]="newValue" (onCancel)="cancel()" (onRestore)="restore()"></isw-refresh-data>

    <form [formGroup]="form">
      <isw-form-item labelText="Hodnota" [control]="form.controls['name']">
        <isw-text-field formControlName="name"></isw-text-field>
      </isw-form-item>

      <isw-form-item labelText="Popis"  [control]="form.controls['description']">
        <isw-text-field formControlName="description"></isw-text-field>
      </isw-form-item>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn shadow-out" type="button" (click)="close()">Zatvor</button>
    <button class="btn shadow-out" type="button" (click)="submit()">Potvrď</button>
  </div>
</div>
