<div class="">
  <div class="isw-panel-tabs p-b-10 mt-4">
    <ul class="isw-tabs">
      <li>
        <a [class.active]="table" (click)="showTable()"><i class="fa fa-bars"></i> Zoznam</a>
      </li>
      <li>
        <a [class.active]="!table" (click)="showKanban()"><i class="fa fa-tasks"></i> Kanban</a>
      </li>
    </ul>
    <isw-project-task-table *ngIf="table" [data]="tasks" [loading]="false"></isw-project-task-table>
    <isw-project-task-kanban *ngIf="!table"></isw-project-task-kanban>
  </div>
</div>
