<div class="row">
  <div cdkDropListGroup *ngFor="let it of taskStatuses; let i=index" class="col-3 p-0">
    <div class="task-container">
      <label>{{it.sk}}</label>

      <div
        cdkDropList
        [id]="connectedTo[i]"
        [cdkDropListData]="grouped[i]"
        class="task-status-container"
        [cdkDropListConnectedTo]="connectedTo"
        (cdkDropListDropped)="drop($event)">
        <div class="dashboard-box" *ngFor="let item of grouped[i]" cdkDrag (dblclick)="openDetail(item)">
          <label class="font-weight-bold text-left col-9 pr-0 mr-0">{{item.name}}</label>
          <label class="font-weight-bold text-left col-1 pl-0 mr-0">{{item.priority}}</label>
          <div class="col-2 row m-0 p-0 float-right">
            <button class="btn shadow-out mt-1 mr-0" (click)="openDetail(item)"><i class="fa fa-search"></i></button>
            <button class="btn shadow-out mt-0 mb-1 mr-0" (click)="editTask(item)"><i class="fa fa-edit"></i></button>
          </div>
          <label class="col-9 text-left">{{translateUser(item.userId)}}</label>
          <div class="col-9 m-0 row">
            <mat-progress-bar class="col-10 m-t-10 p-0 task-progress-bar" mode="determinate" [value]="item.progress"></mat-progress-bar>
            <label class="pl-2 m-0">{{item.progress}} %</label>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
