<div class="resizing-mobile-modal">
  <div class="modal-header">
    <h3>Zvoľte si spoločnosť</h3>
  </div>

  <div class="modal-body col-12">
    <isw-button class="div.col-6" *ngFor="let item of companies" (onClick)="choose(item)">
      <div class="col-12 row m-0 p-0">
        <div class="div.col-3 name-icon ">{{item.company.companyName.substr(0, 1)}}</div>
        <div class="div.col-9 mt-4 ml-2" style="font-size: 20px;">{{item.company.companyName}}</div>
      </div>
    </isw-button>
  </div>
</div>
