<div class="p-lg-4 p-1">
  <div class="row">
    <h3 class="h3 col-11">{{task?.name}}</h3>
    <isw-button class="col-1 float-right" (onClick)="goback()">Späť</isw-button>
  </div>

  <div class="col-12 col-lg-12 row">
    <div class="col-6 col-lg-3">
      <label>Riešiteľ:</label>
      <label class="no-shadow">{{task?.userId | translateUser}}</label>
    </div>

    <div class="col-6 col-lg-1">
      <label>Priorita:</label>
      <label class="no-shadow">
        {{task?.priority}}
      </label>
    </div>

    <div class="col-6 col-lg-2">
      <label>Stav:</label>
      <label class="no-shadow">{{task?.taskStatusId | translateCodelist: 'TASK-STATUS': true}}</label>
    </div>

    <div class="col-6 col-lg-3">
      <label>Počet hodín:</label>
      <label class="no-shadow">{{task?.hoursAssigned}}</label>
    </div>


    <div class="col-4 col-lg-4">
      <label>Progres:</label>
      <mat-progress-bar class="col-10 m-t-10 p-0 task-progress-bar" mode="determinate"
                        [value]="task.progress"></mat-progress-bar>
      <label class="pl-2 m-0">{{task.progress}} %</label>
    </div>

    <div class="col-6 col-lg-2">
      <label>Od:</label>
      <label class="no-shadow">{{task?.dateFrom | formatDateTime: true}}</label>
    </div>

    <div class="col-6 col-lg-2">
      <label>Do:</label>
      <label class="no-shadow">{{task?.dateTo | formatDateTime: true}}</label>
    </div>

    <div class="col-12 col-lg-12">
      <label>Popis:</label>
      <div [innerHTML]="task?.description"></div>
    </div>
  </div>

  <hr>

  <div class="col-12 col-lg-12 p-0 row">
    <div class="col-1 p-0">
      <isw-button (onClick)="addDocument()" [isActive]="showAddDocument">Súbory ({{taskDetail.taskFiles.length}})</isw-button>
    </div>



    <div *ngIf="showAddDocument" class="col-12">

      <div class="row col-12 col-lg-12">
        <div class="shadow-out col-lg-3 row" *ngFor="let item of taskDetail.taskFiles">
          <div class="col-6 col-lg-7">
            <label>{{item.filename}}</label>
            <div>{{item?.description}}</div>
            <div></div>
          </div>
          <div class="col-6 col-lg-5 mt-2 p-0">
            <button class="btn shadow-out mt-0 mr-0 ml-0" (click)="downloadFile(item.file, item.filename, item.extension)"><i class="fa fa-download"></i></button>
            <button class="btn shadow-out mt-0 mr-0"><i class="fa fa-pen"></i></button>
            <button class="btn shadow-out mt-0 mr-0"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>

      <form [formGroup]="form">
        <div class="col-12 col-lg-12 row">
          <div class="col-lg-4">
            <isw-form-item labelText="Súbor">
              <input type="file" class="shadow-file-input shadow-in mt-0" (change)="onFileChange($event)"
                     style="padding-top: 6px; padding-right: 10px; width: 100%">
            </isw-form-item>
          </div>
          <div class="col-lg-4 col-4">
            <isw-form-item labelText="Popis">
              <isw-text-field class="col-lg-12 col-12" formControlName="description"></isw-text-field>
            </isw-form-item>
          </div>
          <div class="col-lg-4">
            <button class="btn shadow-out" (click)="saveDocument()"><i class="fa fa-check"></i>Potvrď</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <hr>

  <div class="col-12 p-0 row" *ngIf="taskDetail">
    <h5 class="col-2 pt-4">Komentáre ({{taskDetail.comments.length}})</h5>
    <div class="col-12 shadow-in p-3" *ngIf="taskDetail.comments.length > 0">
      <div *ngFor="let item of taskDetail.comments">
        <label>{{item.userId | translateUser}}</label>
        <p class="pl-3">{{item.comment}}</p>
        <hr>
      </div>
    </div>
    <div class="col-12">
      <form [formGroup]="commentForm">
        <textarea class="shadow-in col-11 m-0" cols="30" rows="3" formControlName="comment"></textarea>
        <isw-button (onClick)="sendComment()" class="col-1 float-right"><i class="fa fa-check"></i></isw-button>
      </form>
    </div>
  </div>
  <hr>

  <isw-button (onClick)="historyOpen()" [isActive]="history">História ({{taskDetail.taskLog.length}})</isw-button>
  <div *ngIf="taskDetail && history" class="col-12 shadow-out">
    <div *ngFor="let item of taskDetail.taskLog" class="col-12">
      <label>Upravené {{item.modified | formatDateTime}}</label>
      <label>{{item.modifiedUserId | translateUser}}</label>
      <div [innerHTML]="item.comment"></div>
      <hr>
    </div>
  </div>
</div>
